html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


h1, h2, h3, h4, h5, p, li, ul, a {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul, li, a {
  list-style: none;
}
@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

div {
  animation: sweep 0.5s ease-in-out;
}
