/* HEADER */

.header {
  background-color: #202132;
  background-image: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.692)),
    url('../../images/profileBackground.webp');
  background-size: cover;
  background-position: center;
  height: 60vh;
  min-height: 500px;
}

.headerPresentation {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imgPresentation {
  width: 140px;
  border-radius: 50%;
}
.headerName {
  font-size: 35px;
  color: white;
  margin-top: 10px;
}
.headerProfession {
  color: #db635c;
  font-weight: 400;
}

/* ANIMATION HEADER */

.headerName {
  animation-duration: 5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    color: #db625c2f;
  }
  to {
    color: white;
  }
}
.headerProfession {
  animation-duration: 3s;
  animation-name: slidein-sub;
}
@keyframes slidein-sub {
  from {
    color: #ffffff17;
  }
  to {
    color: #db635c;
  }
}

/* PROFILE */

.sectionBackgroundProfile {
  background-color: #202132;
}

.profileContainer {
  padding: 60px 0;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 1024px) {
  .profileContainer {
    padding: 0;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

.imgProfile {
  width: 100%;
  max-width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .imgProfile {
    width: 250px;
    height: fit-content;
    margin-bottom: 0;
  }
}

.textProfileContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}
@media (min-width: 1024px) {
  .textProfileContainer {
    gap: 50px;
    flex-direction: row;
    max-width: 100%;
  }
}

.textProfile {
  text-align: justify;
}

.buttonProfile {
  background-color: #db635c;
  padding: 10px 20px;
  margin-top: 60px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.buttonProfile a {
  color: white;
}
.buttonProfile:hover {
  background-color: #be2b26;
}

/* SKILLS SECTION*/

.sectionBackgroundSkills {
  background-color: #26253c;
}
.sectionSkills {
  padding: 40px 0;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

@media (min-width: 764px) {
  .sectionSkills {
    min-height: 500px;
    padding: 0;
    text-align: start;
  }
}

.skillsContainer {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 764px) {
  .skillsContainer {
    flex-direction: row;
  }
}
.hardSkillsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
@media (min-width: 768px) {
  .hardSkillsContainer {
    display: flex;
    flex-direction: column;
  }
}

.hardSkillsContainer h3 {
  text-align: center;
}

@media (min-width: 764px) {
  .hardSkillsContainer h3 {
    text-align: start;
  }
}

.ulHardSkillsContainer {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: start;
  gap: 20px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .ulHardSkillsContainer {
    margin-bottom: 0px;
    justify-content: start;
  }
}
.hardSkill {
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  transform: scale(var(--scale, 1));
  transition: transform 0.25s;
  cursor: crosshair;
}
.hardSkill:hover {
  --scale: 1.2;
}

.softSkillsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 200px;
}

.softSkillsContainer h3 {
  text-align: center;
}

@media (min-width: 764px) {
  .softSkillsContainer h3 {
    text-align: start;
  }
}
.iconSkill {
  width: 20px;
  filter: invert(1) brightness(2);
}
.colorGray {
  background-color: #333338;
  color: #19cbe9;
}
.colorRosse {
  background-color: #aa4b6f;
  color: white;
  filter: contrast(white);
}
.colorBlue {
  background-color: #416f92;
  color: white;
}
.colorGreen {
  background-color: #39853d;
  color: white;
}
.colorViolet {
  background-color: #7947aa;
  color: white;
}
.colorWhite {
  background-color: white;
}
.softSkills {
  border: 1px solid #db635c;
  border-radius: 5px;
  padding: 20px;
  transition: 0.3s;
}
.softSkills:hover {
  border: 1px solid #be2b26;
}

/* PROJECTS SECTION */

.sectionBackgroundProjects {
  background-color: #202132;
  color: white;
}
.sectionProjects {
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .sectionProjects {
    min-height: 500px;
  }
}
.projectTitle {
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .projectTitle {
    text-align: left;
  }
}

.projectContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1024px) {
  .projectContainer {
    flex-direction: row;
    justify-content: space-around;
  }
}
.projectDescription {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

@media (min-width: 1024px) {
  .projectDescription {
    text-align: start;
  }
}
